[2018-04-19 17:34] lygstate opened #3 "ref cause error:("
E:\CI-Cor\acrop\acop-mtk2503\node-clang-ffi\node_modules\ref-napi\lib\ref.js:400
  if (!(rtn && 'size' in rtn && 'indirection' in rtn)) {
                      ^
TypeError: Cannot use 'in' operator to search for 'size' in 2
    at Object.coerceType (E:\CI-Cor\acrop\acop-mtk2503\node-clang-ffi\node_modules\ref-napi\lib\ref.js:400:23)
    at Function.defineProperty (E:\CI-Cor\acrop\acop-mtk2503\node

[2018-04-19 17:35] lygstate commented on #3
code is:
[code]

[2018-05-04 11:18] greenkeeper[bot] opened #4 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-09-11 07:39] greenkeeper[bot] opened #8 "An in-range update of debug is breaking the build 🚨"
## Version **3.2.0** of **debug** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/node-ffi-napi/ref-napi/compare/latest...node-ffi-napi:greenkeeper%2Fdebug-3.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/visionmedia/deb

[2018-09-11 10:05] #8 closed, assigned to nobody

[2018-11-03 08:15] greenkeeper[bot] opened #10 "An in-range update of node-addon-api is breaking the build 🚨"
## The dependency [node-addon-api](https://github.com/nodejs/node-addon-api) was updated from `1.5.0` to `1.6.0`.

🚨 [View failing branch](https://github.com/node-ffi-napi/ref-napi/compare/latest...node-ffi-napi:greenkeeper%2Fnode-addon-api-1.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

node-addon-api is a direct

[2019-01-02 10:13] cynx opened #12 "Published version node-addon-api points to github tarball"
The publish version on NPM tries to resolve node-addon-api dep from https://github.com/nodejs/node-addon-api/archive/82656bb.tar.gz and latter is causing issues in corporate network behind a proxy. Can the dep instead be maintained as  "node-addon-api": "^1.5.0" ? (Cc @addaleax)

[2019-01-07 10:19] #12 closed, assigned to nobody

[2019-02-25 05:40] greenkeeper[bot] opened #15 "An in-range update of highlight.js is breaking the build 🚨"
## The devDependency [highlight.js](https://github.com/highlightjs/highlight.js) was updated from `9.14.2` to `9.15.1`.

🚨 [View failing branch](https://github.com/node-ffi-napi/ref-napi/compare/latest...node-ffi-napi:greenkeeper%2Fhighlight.js-9.15.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

highlight.js is a devD

[2019-03-24 19:14] RegiByte opened #16 "RangeError: Maximum call stack size exceeded"
Hello guys, so i'm running my tests suite with jest and i'm getting an
`RangeError: Maximum call stack size exceeded` error testing `argon2-ffi` package which has this as a dependency,

This is the exact error message:

[code]

And when i check that out it looks like we have an infinite loop error, please correct me if i'm wrong because i really don't know exacly what is happening on this lines:

[2019-07-24 08:32] huang-erbai opened #18 "bindings error"
![image](https://user-images.githubusercontent.com/50433365/61778052-9dc35c00-ae30-11e9-8712-7bca799e6788.png)

[2019-07-24 08:43] huang-erbai commented on #18
what wrong about this?

[2019-07-24 08:49] huang-erbai commented on #18
import * as ref from 'ref-napi';
import HelloWorld from '@/components/HelloWorld.vue';

const ffi = require('ffi-napi');

const { dialog } = require('electron').remote;

[2019-07-24 09:35] #18 closed, assigned to nobody

[2019-08-02 01:12] prurph commented on #16
Also experiencing this issue.

[2019-08-21 17:05] elder4p opened #19 "ref.readUInt64 returns negative numbers (as strings) when high-order bit is set"
readUInt64 is interpreting the high order bit of a uint64_t as a sign bit. The following test fails:

[code]

Test output:

I will be submitting a pull request with a fix and additional tests.

[2019-08-21 17:22] #19 closed, assigned to nobody

[2020-02-04 04:47] gengjiawen opened #25 "broken on Node.js 13"
Full log: https://travis-ci.com/gengjiawen/ref-napi/jobs/283269452

[2020-02-04 09:26] colorpeach commented on #18
@huang-erbai I also encountered the same error, how did you solve it？

[2020-02-04 16:06] addaleax commented on #25
Yeah, I’ve been thinking about this. I think the only reasonable solution here is to create a maximum-size `ArrayBuffer` over a large memory region and then use slices of that `ArrayBuffer` as the `Buffer`s returned by `ref-napi`.

[2020-02-06 13:32] devoto13 commented on #25
Not sure if this is related to the linked Travis log, but it also crashes with segfault on garbage collection. E.g. given `test.js`

[code]

[code]

Also below is a stack trace I received using [segfault-handler](https://www.npmjs.com/package/segfault-handler) in case it is helpful somehow:

[code]

[2020-02-06 13:37] addaleax commented on #25
@devoto13 I think that particular bug has been fixed in more recent versions of Node.js (by https://github.com/nodejs/node/pull/31140), but it’s hard to tell without a reproduction.

[2020-02-06 14:00] devoto13 commented on #25
Thanks for the pointer, @addaleax. It reproduces neither with the script from my previous message, nor the real application using Node 13.8.0.

[2020-02-11 15:26] Audio commented on #16
Hi, #metoo

Steps to reproduce:
[code]
Node.js version: v12.14.1

[2020-04-15 14:40] onichandame commented on #25
I have problem installing `ffi-napi` and `ref-napi` as dependencies with node 13.12.0. tested on centos8 and windows 10. Anyone seeing the same problem?
Package `ffi` and `ref` also have similar compatibility problems on the newer node. I am quite curious why it is difficult to make these packages independent of the node version?

[2020-04-22 18:10] addaleax commented on #25
@onichandame In this case, there are problems because V8 makes changes that break the way that this addon works. I’ll do my best to get on top of that, but it’s going to be quite a bit of work.

[2020-04-23 01:28] onichandame commented on #25
@addaleax Would you kindly point me to the exact changes in V8 that possibly have caused this problem?
I may have time to contribute in the near future so I want a starting point to look at.

[2020-04-23 02:34] addaleax commented on #25
@onichandame https://bugs.chromium.org/p/v8/issues/detail?id=9908 might be a starting point, there’s quite a few referenced V8 changes – basically, the whole `BackingStore` migration is problematic … I’m currently trying to fix this, btw, so there may not be a need to fix this for others.

That doesn’t mean that this codebase is in a great state and couldn’t use some work, though… :smile:

[2020-04-23 02:43] onichandame commented on #25
@addaleax thx for your great work! I will take a look anyways as the problems of the other repo like ref and node-ffi may have a similar root cause.

[2020-04-23 02:46] addaleax commented on #25
Yeah, fixing ref-napi is part of that plan… I actually have that part working by now but it’s quite tightly integrated with the fixes for the ffi-napi module itself, so I’ll push/release them together

It’s also going to be very hacky, so I’m definitely open to people thinking about other solutions. Basically, what I’m doing right now is adding a list of all `ArrayBuffer`s passed to or returned fr

[2020-04-23 21:34] addaleax commented on #25
@onichandame Fwiw, #32 should have resolved this for ref-napi, and https://github.com/node-ffi-napi/node-ffi-napi/pull/68 should do that for node-ffi-napi … I’m still having trouble getting everything to work 100 % in CI – and either way, feel free to try to newer branches/releases out

[2020-04-24 01:51] onichandame commented on #25
@addaleax I just retried to install ffi-napi and ref-napi on centos 7 with both node 13.13.0 and 14.0.0 using `yarn add ref-napi ffi-napi`. It just worked! Thanks!

FYI, here are the commands I ran for the quick test:
[code]

[2020-05-17 10:07] #4 closed, assigned to nobody

[2020-05-17 10:07] #10 closed, assigned to nobody

[2020-05-17 10:07] #15 closed, assigned to nobody

[2020-05-18 15:34] addaleax commented on #25
This *should* be fixed in `node-ffi-napi@3.0.0`, please feel free to try it out everybody!

[2020-05-18 15:34] #25 closed, assigned to nobody

[2020-05-22 08:09] ordoghl commented on #16
Same here. Blows Jest test as a dependency of encrypt-xlsx (through ffi-napi). Node.js version: 12.15.0

[2020-06-26 06:11] RMutharaju opened #38 "node-addon-api vulnerability reported, upgrade to v2.0.1 or higher"
Hello,

I see a vulnerability reported with node-addon-api

Refer:
https://snyk.io/vuln/SNYK-JS-NODEADDONAPI-571001

Kindly upgrade the node version as proposed.

Thanks.

[2020-06-30 02:30] victor-thrifts opened #39 "ref-napi No native build was found for platform=win32 arch=ia32"
Error: No native build was found for platform=win32 arch=ia32 runtime=node abi=72 uv=1 libc=glibc
    at Object../node_modules/ref-napi/lib/ref.js (D:\nodeWeb\angular-tour\dist\server\main.js:162130:111)
    at __webpack_require__ (D:\nodeWeb\angular-tour\dist\server\main.js:20:30)

 main.js context:

"use strict";

const assert = __webpack_require__(/*! assert */ "assert");
const inspect = __webp

[2020-06-30 04:38] victor-thrifts commented on #39
it is a node_gyp  problem. i think.

[2020-06-30 04:38] #39 closed, assigned to nobody

[2020-07-06 05:40] RMutharaju commented on #38
Is there any plan to update the node to use higher version of node-addon-api soon?

[2020-07-06 06:44] addaleax commented on #38
This package is **not** affected by the linked vulnerability. If you want to open a PR to update the dependency, go ahead.

[2020-07-08 13:24] acdibble commented on #16
I ran into this using jest tests. It seems to relate to how jest mocks out importing dependencies. I put an `afterEach` hook in the tests with `jest.restoreAllMocks()` and that resolved the issue.

It looks like for whatever reason, this isn't properly executed every time the module is required:
![image](https://user-images.githubusercontent.com/21286068/86923903-fcabdf00-c12e-11ea-86d3-22b104b6c5

[2020-08-03 21:02] wjzhou opened #40 "It seems the writeCString may write over the end of buffer"
I'm trying to debug a crash of my application. (Not isolated yet)

When reading the source code, it seems the following function may write over the end of buffer, did I miss anything?

L582 may return a `len` = `size` which equal to `buffer.length-offset`. so at L583, `offset+len` equal `offset+buffer.length-offset` = `buffer.length`

Shouldn't the L581 be `const size = buffer.length - offset-1`?

[2020-08-05 19:04] addaleax commented on #40
Thanks for pointing this out! Yes, this looks like a bug. I’ll publish a new release shortly.

[2020-08-05 19:11] addaleax commented on #40
Fwiw, the line in question does not actually perform an OOB write; it throws an exception if `offset+len` is OOB, so it’s probably not the cause of the crash you were seeing.

[2020-08-05 19:12] #40 closed, assigned to nobody

[2020-08-05 19:43] addaleax commented on #40
Done in v2.0.4!

[2020-08-08 17:01] wjzhou commented on #40
Thank you very much for the quick fix.
And thank you for giving me clues on my situation.

FYI:
I believe my problem was in `reinterpretUntilZeros`, similar to this one:
https://github.com/sindresorhus/active-win/pull/65
E.g. I am also using electron and after removing all the reinterpretUntilZeros, my program doesn't see crashes anymore.

Reading the source code of `reinterpretUntilZeros`, I don'

[2020-08-21 10:07] Qaho opened #42 "ERR_BUFFER_OUT_OF_BOUNDS exception on ref.reinterpret call"
Hi,

I'm trying to get some data from a protected file using native Crypt32.dll.

I'm getting an ERR_BUFFER_OUT_OF_BOUNDS exception on ref.reinterpret call with this piece of code:

[code]

Exception stacktrace:
[code]

The thing is that it's working perfectly when using the ref (from github:lxe/ref#node-12), ref-struct (from github:lxe/node-ref-struct#node-12) and ffi (from github:lxe/node-ffi#no

[2020-08-21 10:19] addaleax commented on #42
Can you share the output of the `console.log` statements you’re providing, and maybe the value of `outputDeref.pbData.buffer.length`?

[2020-08-21 11:03] Qaho commented on #42
Sure:

[code]

FYI, outputDeref.pbData.length is always set to 1 weither the exception is thrown or not.

[2020-08-24 10:01] Qaho commented on #42
I have enabled debug logs:
[ERR_BUFFER_OUT_OF_BOUNDS-debugLogs.txt](https://github.com/node-ffi-napi/ref-napi/files/5117111/ERR_BUFFER_OUT_OF_BOUNDS-debugLogs.txt)

Hope this helps!

[2020-08-28 13:45] #16 closed, assigned to nobody

[2020-09-14 09:59] andrew-oreshko opened #46 "An object was expected"
Hey all! I'm using this template https://github.com/electron-react-boilerplate/electron-react-boilerplate to build an app. I added ref-napi (v. 2.1.2) as a native dependency. It works ok when building the app locally, but as soon as I try to run a packaged version of the app, the error from screenshot get raised
![image](https://user-images.githubusercontent.com/56826270/93071577-f84cf680-f688-11e

[2020-09-14 10:04] addaleax commented on #46
Since the stack trace seems to indicate that this is Electron-specific behavior, you might want to report it there (and share your Electron version as well)

[2020-09-14 10:18] andrew-oreshko commented on #46
What is the maximum version of electron that ref-napi should work with?

[2020-09-14 10:30] andrew-oreshko commented on #46
@addaleax I'm not really sure it is electron-specific error. I've already installed some other native dependencies and they seem to work well (sqlite)

[2020-09-25 11:48] lucasfelipecdm commented on #42
Hi, I have the same problem, when I'm using ref-napi 1.5.2 its work fine, but I need the napi libs for compatibility issue with electron and last node versions too, and change to 3.0.1 then I got this error when use reinterpret inside a ffi.Callback function.

` captureCallback = ffi.Callback('void', ['pointer', 'uint', 'uint', 'pointer'], (ctx: any, rsv: number, dtSize: number, dt: Buffer) => {

[2020-10-01 05:54] avivsalman commented on #42
Hi, same error for me, does anyone can help us?

Thanks 👍

[2020-10-29 15:14] minggangw opened #47 "Check failed: result.second on Node.js v14.15.0"
When I upgrade Node.js to the latest LTS v14.15.0, a fatal error happens when running the unit test, but it's ok with Node.js v12, please check out the error log below:

[code]

For the detailed log, please see https://travis-ci.org/github/RobotWebTools/rclnodejs/builds/739832615

Thanks!

[2020-11-05 15:04] minggangw commented on #47
I found a similar issue from nodejs, please see https://github.com/nodejs/node/issues/32463 @addaleax would you please help to have a look? Thanks!

[2020-11-05 15:09] addaleax commented on #47
@minggangw Without a smaller reproduction, I don’t think it’s going to be feasible for me to look into this in much detail

[2020-11-06 21:21] mauroballestra opened #48 "AIX Compatibility"
Hello,

I use ref-napi together with ffi-napi to run the nodejs driver of the company I work for.

I successfully use it on Windows, Linux, MacOS and FreeBSD now I'd like to use this driver on AIX 7.1 as well.

When I try to install my dependencies I get the following error during the C/C++ build:
`  CC(target) Release/obj.target/nothing/../node-addon-api/src/nothing.o
  AR(target) Release/obj.tar

[2020-11-07 10:15] addaleax commented on #48
As you pointed out correctly, this file is generated by node-gyp, not ref-napi. You should probably open an issue in https://github.com/nodejs/node-gyp/, not here, unless there’s a reason to believe that there’s any action that ref-napi can take on its own. (If you do open an issue, feel free to ping me.)

[2020-11-07 10:15] #48 closed, assigned to nobody

[2020-11-07 16:40] minggangw commented on #47
Thanks for your reply and I will try to narrow it down to find any useful clue.

[2020-11-09 13:27] mauroballestra commented on #48
Thank you for your answer Anna.
I'm relatively new to the NodeJS and GitHub world so I may not report the issues in the correct way.
I'm creating an Issue in node-gyp and see what happens.
Again, thank your your indications,

[2020-11-09 15:53] avivsalman commented on #42
Anyone? it's very urgent :)

[2020-11-21 07:13] Winexcel opened #49 "Convert to executable"
When I am trying to package my app with pkg, i am getting this error:

[code]

Is is possible to package my app to .ece executable for windows using pkg or somthing else with includes ref-napi and ffi-napi?

[2020-11-21 12:07] addaleax commented on #49
If you do want to use native addons with `pkg`, that should be possible, but you need to include the (already-built) native addons themselves in that case, *separately* from the binary. I don’t know where exactly they would need to be put, though.

I’ve built [boxednode](https://github.com/mongodb-js/boxednode) as an alternative to `pkg` that supports actually bundling native addons into the execu

[2020-11-26 11:09] avivsalman opened #50 "ERR_BUFFER_OUT_OF_BOUNDS exception on ref.reinterpret call"
Hi, I have problem, when I'm using ref-napi 1.5.2 its work fine, but I need the napi libs for compatibility issue with electron and last node versions too, and change to 3.0.1 then I got this error when use reinterpret inside a ffi.Callback function.

`captureCallback = ffi.Callback('void', ['pointer', 'uint', 'uint', 'pointer'], (ctx: any, rsv: number, dtSize: number, dt: Buffer) => { const dtRei

[2020-11-26 11:11] addaleax commented on #50
What is `dtSize` in that example? You can’t use `reinterpret` anymore to increase the size of the underlying `ArrayBuffer`.

[2020-12-14 02:20] surjikal commented on #47
@addalex Here's a script that breaks on macOS 11.0.1, using node 14.15.1 or 15.3.0. Works fine on node 12.

[code]

Trace:
[code]

[2020-12-15 20:07] rubyte-s opened #51 "Apple M1"
Error: No native build was found for platform=darwin arch=arm64 runtime=electron abi=85 uv=1 armv=8 libc=glibc node=12.18.3 electron=11.0.3
    loaded from: /Users/shaun/.vscode-exploration/extensions/intersystems.language-server-1.0.5/server/node_modules/ref-napi

    at Function.load.path (/Users/shaun/.vscode-exploration/extensions/intersystems.language-server-1.0.5/server/node_modules/node-gyp

[2021-01-04 22:44] antman1p opened #52 "dlopen error"
I am developing an electron app and am trying to use `var $ = require('nodobjc')` and my console is throwing an error:

`Uncaught Error: dlopen(/Users/Me/Documents/git/NodObjC/node_modules/ref-napi/prebuilds/darwin-x64/electron.napi.node, 1): Symbol not found: _napi_create_error
  Referenced from: /Users/Me/Documents/git/NodObjC/node_modules/ref-napi/prebuilds/darwin-x64/electron.napi.node
  Expec

[2021-01-05 00:01] addaleax commented on #52
Which Node.js/Electron version are you using?

[2021-01-05 00:39] antman1p commented on #52
Node v14.15.4
Electron v1.4.13

[2021-01-05 10:14] addaleax commented on #52
Yeah that’s not going to work

[2021-01-05 14:07] antman1p commented on #52
Updated to Electron v11.1.1.

[2021-01-05 14:07] #52 closed, assigned to nobody

[2021-01-18 10:08] sangshuduo commented on #50
I have this issue too with v3.0.1. Now it works with nodejs v12 locked version 1.5.2. But led core dump with nodejs v14.

#FailureMessage Object: 0x7ffe1e14b410
 1: 0xa71261  [node]
 2: 0x19d3254 V8_Fatal(char const*, ...) [node]
 3: 0xe5b549 v8::internal::GlobalBackingStoreRegistry::Register(std::shared_ptr<v8::internal::BackingStore>) [node]
 4: 0xba6a98 v8::ArrayBuffer::GetBackingStore() [node]

[2021-01-18 11:38] sangshuduo commented on #42
commented on another issue too. [https://github.com/node-ffi-napi/ref-napi/issues/50#issuecomment-762138916](https://github.com/node-ffi-napi/ref-napi/issues/50#issuecomment-762138916) . wondering if any progress.

[2021-01-21 05:57] mkundgol commented on #47
Folks, we too have run into this issue, any update on when this will be fixed pls?

[2021-01-26 06:12] Hybueno09 opened #53 "LINK : fatal error LNK1104: cannot open file"
when I install ffi-napi with `yarn add ffi-napi`,it throw errors like below:

\ Building modules: 0/2  binding.cc
/ Building modules: 0/2  win_delay_load_hook.cc
| Building modules: 0/2LINK : fatal error LNK1104: cannot open file 'e:\\code\\source\\electron-react-boilerplate\\src\\node_modules\\ref-napi
\\11.2.0\\ia32\\node.lib' [e:\code\source\electron-react-boilerplate\src\node_modules\ref-napi\

[2021-01-28 00:40] #53 closed, assigned to nobody

[2021-02-10 20:10] larsvinter commented on #47
Same here. Works in 12, but fails in 14 and 15.

[2021-02-11 12:06] gireeshpunathil opened #54 "crash in v8::ArrayBuffer::GetBackingStore"
steps to reprouce:

[code]

gireesh@p1:~/mq/rec1$ cat rec.js

[code]

gireesh@p1:~/mq/rec1$ node rec
[code]

[2021-02-11 12:10] gireeshpunathil commented on #54
I have a more elaborate stack trace, if that helps - that shows `WritePointer` in the stack where the backing array is required.

[code]

Could this be due to gc (incorrectly) collecting the Buffer object as it is not referenced by anyone in the JS space?

[2021-02-11 17:01] gireeshpunathil commented on #54
chatting with @mhdawson , it was revealed that an entry for the backing store was found in the global backing store registery, where it was not expecting one, is how the crash is materializing.

I am not good in interpreting the trace log of `--trace-backing-store`, but looking at the last entry

`BS:reg    bs=0x55b41104b420 mem=0x55b411217430 (length=10, capacity=10)`

and searching backwards, I

[2021-02-11 23:38] mhdawson commented on #54
After incrementally adding a bunch of instrumentation it looked be related to WritePointer being called as that seemed to be what was always on the stack when the crash occurred. (EDIT I see Gireesh pointed that out above, but I'd started down the instrumentation path before then).

In writePointer

[code]
_attach tries to avoid the buffer to which the pointer refers being freed before the buffer

[2021-02-12 19:00] mhdawson commented on #54
Ok the same thing but using node-addon-api versus dropping down into node-api c calls:

[code]

I'm going to open a PR and discussion on whether it is the right fix can continue there.

[2021-02-12 19:07] mhdawson commented on #54
Created PR: https://github.com/node-ffi-napi/ref-napi/pull/55

[2021-03-16 08:47] prabhatmishra-metro commented on #54
Is my issue any relatable to this one? here is the reference of the [issue](https://stackoverflow.com/questions/66651374/frequent-kubernetes-container-restart)

[2021-03-16 08:49] prabhatmishra33 commented on #54
is my issue any relatable to this one @gireeshpunathil  @mhdawson  here is the [issue](https://stackoverflow.com/questions/66651374/frequent-kubernetes-container-restart)

[2021-03-16 15:43] mhdawson commented on #54
@prabhatmishra33 I see this on the stack in the issue you posted `6: 0x7f268814b0ef  [/app/node_modules/ref-napi/prebuilds/linux-x64/node.napi.node]` so its possible.

Since it's in production it might be hard to try the change in #55, but that would be the best way to confirm one way or the other.

[2021-03-22 08:46] ggryschuk opened #56 "Reliably create a core dump in 3 lines of code on official node docker images & Alpine VM image"
Hi. I wanted to first thank the team developing ref (and ffi), these packages have been very helpful to me. With that said I seem to have found a bug that can reliably create a core dump in 3 lines of code on any official node docker image back to the v12 release and on an alpine VM (Alpine v3.12, running in Oracle VirtualBox). The same problem does not exist running node v14 (14.16.0) on Windows

[2021-03-22 09:20] addaleax commented on #56
Hi @ggryschuk! Is there any chance you could generate a stack trace for this with a debugger?

[2021-03-22 09:42] ggryschuk commented on #56
Hi. First off thanks for the quick response. I just recently got back into
serious coding (actually a few months ago but only seriously in the last
month & a half) after many years being away & frankly this is my first
'issue' submission anywhere so I didn't really know what to expect.

In any case I'll see what I can do but I might need some help. It's
actually been quite some time since I fired

[2021-03-22 23:17] ggryschuk commented on #56
Hi. I think I was able to generate the stack trace you are looking for, see attached 'ref-backtrace.txt'.

For reasons I won't go in to here this is from within a docker container generated from the node:14-alpine docker image. I've attached the Dockerfile used to generate the image. I just dumped the 3 lines of code in my original message in to a 'test.js' file. Also I had to run the docker image

[2021-03-23 00:02] ggryschuk commented on #56
Hi. I just ran a few more tests. I can reproduce the problem back to ref-napi@1.5.2 (I didn't try every release but spot checked 3.0.0 & 2.1.2 as well as 1.5.2). It works as expected for v1.4.3 & below (output is <Buffer@0x55e73c00ff40 00 00 00 00>)

[2021-03-23 11:29] addaleax commented on #56
@ggryschuk Thanks for the reproduction info!

There’s something weird going on here on a system/shared library linker level. The call to `snprintf()` [here](https://github.com/node-ffi-napi/ref-napi/blob/b5f574f3a754ed4d1b5b2d178a198795b71f0b1d/src/binding.cc#L241) is failing, because `__snprintf_chk` (the actual function call that the compiler emits) does not appear to be loaded as symbol from a

[2021-03-24 00:04] ggryschuk commented on #56
Thanks for the input. This is 1 (though very important) part of a larger whole. Since the back-ported (or is it 'forward ported'?) version of ref with node-12 is working I'm going to stick with that for now but will give your suggestion on the 'build-from-source' flag a try when I get a chance. I'm not an alpine or musl guru either I just used alpine because I wanted a small linux distribution & o

[2021-03-24 03:21] ggryschuk commented on #56
Hi. Quick update. I was able to multi-task & ran the 'build-from-source' test, it worked!

I'd have to do a larger test on my main application of course but this at least seemed to be related to the problem I was having. Then again it was hard to tell because it Seg Faulted on debug statements too (when trying to output the Buffer of course) which clearly are related to doing a 'console.log'. So c

[2021-04-07 01:25] detongz commented on #51
+1

[2021-04-07 17:42] sqpdln commented on #39
did you have any luck on this? i'm having the same issue in electron.

[2021-04-29 11:17] Yongle-Fu commented on #42
Hi, same error for me, does anyone can help us?

Thanks 👍

[2021-05-03 15:33] nshmyrev commented on #54
Hi

we still see the crash with ref-napi 3.0.2

The code we use looks like this, it essentially creates an object and releases it afterwards:

[code]

I'll try to simplify code probably. The crash is not stable it occurs at different iterations, so likely a threading issue. The backtrace looks like this:

[code]

The backingstore trace is attached too.

[bs.log](https://github.com/node-ffi-napi/re

[2021-05-03 16:56] nshmyrev commented on #54
Another backtrace with WritePointer instead of FFICall

[code]

[2021-05-03 21:38] mhdawson commented on #54
It was confirmed to have solved the test cast that @gireeshpunathil had provided and the larger real-world case that it was derived from. You might have a different case that triggers a similar issue.

[2021-05-03 22:32] nshmyrev commented on #54
@mhdawson Looking on original problem I see it is about the fact that you try to create the buffer for the same address twice. The patch deals with garbage collection but from what I see the problem is not related to garbage collection at all.

What happens is that during the program execution we allocate a chunk of memory and store it as a buffer. Than we free this chunk and allocate again. If by

[2021-05-03 22:34] nshmyrev commented on #54
Also take a note from backtrace that second chunk which conflicts with the first one is allocated as an argument for function calls, not as an object. Maybe additional check is missing there.

[2021-05-03 22:41] nshmyrev commented on #54
Here is more detailed backtrace with more intermediate calls between. See that `val.As<Buffer<char>>()` in GetBufferData is supposed to simply unpack the value. Instead it registers an new object in backign store. Maybe it is node-addon-api issue:

[code]

[2021-05-04 14:58] nshmyrev commented on #54
After investigation looks like GetBufferData should use pointer_to_orig_buffer map instead of creating arraybuffer directly on backingstore.

[2021-05-04 18:21] nshmyrev commented on #54
Simplified version that crashes quickly:

[code]

[2021-05-04 22:15] nshmyrev commented on #54
Essentially the same discussion as in https://github.com/nodejs/node/pull/33321

[2021-05-04 23:18] nshmyrev commented on #54
Also #47 ?

[2021-05-05 07:39] nshmyrev commented on #54
I could have used weak-napi

[code]

but this also crashes:
[code]

[2021-05-05 08:11] nshmyrev commented on #54
@addaleax any comment please?

[2021-05-05 09:27] addaleax commented on #54
@nshmyrev I’ll get to this when I can. If you have a good understanding of what’s happening, you can also open a PR, which would speed things up a bit.

[2021-05-05 10:08] nshmyrev commented on #54
Great thank you. For now my proposal is to use separate class for wrapping pointers, not Buffer. Something like PointerBuffer with separate memory management model avoiding all BackingStore issues. We won't need centralized map then too and the logic will be much more straightforward.

[2021-05-05 10:12] addaleax commented on #54
@nshmyrev That would have been ideal a long time ago, but major backwards-compatibility breakage isn’t really an option for this package, I’m afraid.

[2021-05-06 23:02] nshmyrev commented on #54
Well, no other way with the current design. It could be another package like ref-napi-ng if you care about backward compatibility. At least people will be able to use FFI.

I started the implementation here, almost there, few bits with strings left:

https://github.com/alphacep/ref-napi/commit/b2d32a8264aa1010220667dbeca066d505a4de9e

[2021-05-08 18:03] nshmyrev commented on #54
Fyi, my branches have the full implementation with separate structures. All tests pass, though it might not be 100% compatible:

https://github.com/alphacep/ref-napi
https://github.com/alphacep/node-ffi-napi

please let me know if you are interested to merge or we can just have a new packages inside this project.

[2021-05-27 18:35] rbuckton opened #57 "Suggestion: Use `BigInt` for 64-bit signed and unsigned integers"
All of the latest [supported versions](https://nodejs.org/en/about/releases/) of NodeJS support BigInt:
- 12.22.1
- 14.17.0
- 15.14.0
- 16.2.0

Consider leveraging `BigInt` to express 64-bit signed and unsigned integers as opposed to `string | number`. This would be a breaking change.

[2021-05-27 18:41] rbuckton opened #58 "Suggestion: Add aliases in `types`, `alignof` and `sizeof` for Windows data types"
This would be useful when consuming Windows APIs when working with Windows API documentation.

A list of Windows data types can be found here:
- [Common base types](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/3caa4769-b02f-4cee-a857-8496f4395ec1) (like `__int8`, `__int16`, etc.)
- [Common data types](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-dtyp/efda

[2021-06-16 06:42] ngiafeno commented on #39
Did somebody find any reason why it doesn't work fine ? I'm having the same issue

[2021-06-17 08:30] cunchi commented on #51
How is the progress of this issue🤔️

[2021-06-19 10:24] toverux opened #59 "Memory leak on a simple use case"
Hi,
Sorry for the title, I didn't really know how to describe the problem.

I'm integrating a .so library compiled with CGO's `-builmode=c-shared`.
I'm trying to build a first example to check I'm able to do it properly.
I'll call Go from Node and pass buffers of protobuf messages back and forth.

It's a PoC so the code is not very clean, my apologies.

The Go code looks like this:

[code]

The Ja

[2021-06-19 19:55] toverux commented on #59
Sorry, wrong repo

[2021-06-19 19:55] #59 closed, assigned to nobody

[2021-06-25 09:40] liujun-dlink commented on #42
I think the useage of "reinterpret" needs to be changed.
![image](https://user-images.githubusercontent.com/48506799/123405412-60e3df00-d5dc-11eb-9383-3befa4f573ee.png)

[2021-07-12 05:17] brandonros commented on #58
Another: It would really help me if I could specify `pointer4` versus `pointer8` for when you have to call into 32-bit DLLs in a 64-bit program.

[2021-07-20 16:35] AlexMisiulia commented on #54
Hi everyone. Any updates on this? Seems that @nshmyrev proposed a solution. I think that he can make a fork but this will be not as useful for community because everyone ends up fixing same bugs in their own implementation.

@addaleax do you have plans and time to look into this issue?

[2021-07-30 06:49] Dipta-IIC-EU opened #61 "bundle with parcel: Uncaught Error: No native build was found"
I am trying to use node-ffi-napi and ref-napi for a web app.
Below is the minimal code to reproduce the error

### index.html
[code]

### index.js
[code]

### package.json
[code]

This is the error I got in the browser, after bundling with `npx parcel index.html`
[code]

Did I miss anything?

[2021-08-01 13:58] addaleax commented on #61
This seems like an issue with the bundler, not with ref-napi, sorry. Please ask them about how to handle native addons.

[2021-08-01 13:58] #61 closed, assigned to nobody

[2021-08-13 15:25] prakashnarkhede91 opened #62 "undefined symbol: napi_set_instance_data"
Hi @kanaka, @TooTallNate,@jcupitt ,@addaleax

I build one electron application with biometrics integration
i used uareu-node npm

But it gives the error
node: symbol lookup error: node_modules/ref-napi/prebuilds/linux-x64/node.napi.node: undefined symbol: napi_set_instance_data

Please help us

[2021-08-13 16:02] addaleax commented on #62
@prakashnarkhede91 Most likely, you’re using an unsupported version of Node.js.

[2021-08-13 16:02] addaleax commented on #62
Also, the next time you bulk-ping people who are not actively involved in the development of a project, you’re blocked.

[2021-08-19 07:59] Psycokwet opened #63 "Number as a callback pointer ?"
Hello !

I'm using the bass library, from un4seen, in which, there is those definition :

[code]

As you can see, there is a function definition, STREAMPROC, which is used elsewhere in code as normal function pointer, but, that can be also used as a code, to use default function. Like, if we mention STREAMPROC_PUSH when calling a function made to treat a STREAMPROC, it will understand that it have

[2021-08-19 08:20] Psycokwet commented on #63
Erf, I think I got an epiphany, I still don't have the full result I'm hoping for, but, I seems to no longer have the issue for which I opened the issue. Sorry for that. For now I'm going with an int64 ref.

[2021-08-19 08:20] #63 closed, assigned to nobody

[2021-08-27 14:03] ayush2209 commented on #51
Did you got any solution for this issue.
I am alos facing this issue on M1 Mac.

[2021-09-14 12:03] TimothyJones commented on #54
I'm also looking for a fix for this problem.

Forgive my ignorance, but is there a reason that breaking changes can't be made along with a major semver bump?

[2021-09-14 12:09] addaleax commented on #54
Since my maintenance of this package is mostly unpaid, and this would unfortunately be a larger rewrite, it’s not at the top of my agenda. @nshmyrev’s proposed solution conceptually works, and if there is a PR at some point, I’d be happy to take a look.

[2021-09-14 12:43] TimothyJones commented on #54
Thanks! I hear you on the developer priorities thing - funnily enough, I'm after this fix in order to do unpaid maintenance elsewhere 😅

@nshmyrev  is there anything that you need in order to put together a PR? Can I help out in some way?

[2021-09-14 14:08] TimothyJones commented on #51
How are you triggering this issue? I'm on an M1, and on npm install `node-gyp-build` triggers and compiles from source happily.

[2021-09-14 16:08] nshmyrev commented on #54
Thank you, Tim. I could take a look on PR a bit later but if you could help and pull the changes it would be much faster.

[2021-10-04 04:38] TimothyJones commented on #54
@addaleax - as a first step, I have opened a PR from @nshmyrev's fork of ref-napi here: #64. Please let me know if you need any changes made to it before merging.

[2021-10-05 00:57] cstavaru commented on #54
I'm also having this exact issue.

I haven't seen a node ffi implementation working well since Node 12.x with the lxe pull request, tonight I thought I can finally switch to a higher NodeJS version by using ffi-napi instead of node-ffi but no luck...hopefully the proposed pull request above is accepted.

[2021-10-05 10:59] Supriyaj29 commented on #62
Hello,

Even I ran into this issue today.  I am using ffi-napi, ref-napi, ref-array-di, ref-struct-di packages.  My Implementation looks like this.

const ref = require('ref-napi');
const ffi = require('ffi-napi');
const struct = require('ref-struct-di')(ref);
const refarray = require('ref-array-di')(ref);
const charArray = refarray('char');

let crStatus = struct({
    'status': ref.types.int,

[2021-10-21 14:50] msynk commented on #51
the error will be raised at runtime and not at the build/compile time.

[2021-10-21 20:41] TimothyJones commented on #51
How are you triggering the error? I am on M1 and have no trouble using this package.

The build triggers on install, which is where your error is coming from.

[2021-12-11 18:50] amccloud commented on #51
I'm also seeing the same error at runtime on a M1. Install/build works fine and the error happens only during runtime when `ffi-napi` is imported. If I force my process to run under Rosetta everything works as expected. cc: @msynk

@TimothyJones I'm not entirely sure how the prebuild system works, but it looks like arm64 for darwin does not exist for ref-napi@3.0.3. Should i expect it to build on

[2021-12-11 19:23] amccloud commented on #51
It looks like installing packages with `npm_config_build_from_source=true` in the environment seems to bypass prebuilds and works for me

[2021-12-31 01:50] Kreijstal commented on #63
how did you solve this?

[2021-12-31 01:51] Kreijstal opened #68 "how do you make a reference to a function pointer?"
if you want to define what it returns and what it takes?

[2021-12-31 02:42] Kreijstal commented on #58
would be nice if you could add things like wchar_t as well.

[2021-12-31 13:05] Psycokwet commented on #63
As I mentioned in my last answer, I choose a completely different path, for which this issue was irrelevant, so, I don't have an answer to this, I'm sorry. Good luck ! :)

[2022-01-02 12:02] Kreijstal commented on #68
I guess you just use a reference to a void, but it would be nice if there was a way to somehow define it. I suppose it might be out of scope, it would still be interesting to do this.

[2022-01-02 12:02] #68 closed, assigned to nobody

[2022-01-10 12:19] mrboots123 commented on #42
I was having a similar issue, turns out ref-struct-napi was incompatible with ref-napi. The issue was resolved when switching to ref-struct-di as mentioned in the docs.

[2022-01-10 14:43] samuelraeburn commented on #54
Using Node v17.0.1, the issue no longer reproduces for me. Could somebody point me to the change in Node that fixed this? I am guessing it is https://github.com/nodejs/node/pull/40178 but I am not sure.

[2022-01-11 12:59] dacevedo12 commented on #54
Fixed indeed but now I'm experiencing a significant slowdown. Maybe related to nodejs/node#32226?

[2022-01-14 09:21] pkulijing commented on #47
Any update after more than a whole year?

[2022-01-14 18:02] nullromo commented on #47
There has been an [update](https://github.com/node-ffi-napi/ref-napi/issues/54#issuecomment-1009940294) in #54, which I think is the same bug here, claiming that the bug is now fixed in Node 17.

[2022-01-20 16:16] Kreijstal commented on #57
@rbuckton Deno ffi supports BigInt

[2022-01-30 11:00] amaccis opened #70 "Pointer to an array, I get only the first element"
Hi all!
I don't know if it's a real issue, but I can't find the answer to my question.

I have a pointer to a pointer to an array
`const char ** myfunc(void)`

so using ffi-napi and ref-napi I can write something like that

[code]

but I can retrieve only the first element of the array.
Is there a way to retrieve all the items?
Thanks!

[2022-02-04 05:11] sangshuduo commented on #54
I see v17.4.0 solved the issue I mentioned in https://github.com/node-ffi-napi/ref-napi/issues/50. Wish the solution can be backported to 14/16 soon.

[2022-02-07 23:43] TC-mSundaram commented on #51
I'm seeing this same issue, but `npm_config_build_from_source=true npm install` doesn't resolve it. Is there anything else that I could try?

[2022-02-07 23:54] TC-mSundaram commented on #51
This is what I'm getting at runtime:

[code]

[2022-02-10 01:22] TC-mSundaram commented on #51
Update: I was able to resolve the issue. I am using electron-builder and needed to use `buildDependenciesFromSource` in the config.

[2022-03-17 21:21] ssmethurst opened #71 "Link to "full API Docs" produces an 404"
The link to the "full API Docs" in the readme produces a 404 error from Github. The link references https://tootallnate.github.com/ref

[2022-04-20 18:42] blattersturm opened #72 "std::max(..., kMaxLength leads to massive GC pressure"
Ever since Node.js 14 support got added to this library, and when run under Node.js 14+, we're having _very_ slow performance when using this module.

Investigation showed that _every_ external node::Buffer allocation would lead to a GC, and indeed, a lot of allocations make a buffer of `0x3fffffff` in length leading to the external memory country in V8 getting angry.

Looking a bit further, we fi

[2022-04-20 18:56] blattersturm commented on #72
I _can_, however, confirm that on Node.js 18, the `result.second` is fixed and the fixed `std::min` works with the same performance as it did in Node.js 12.

[2022-05-11 13:28] kabaehr commented on #51
Maybe this helps someone, not sure. I only had this with Node < version 17. With version 17 I have other issues I am looking into right now, though

[2022-05-31 22:58] weskerfoot commented on #70
https://eli.thegreenplace.net/2010/01/11/pointers-to-arrays-in-c

[2022-06-27 04:25] doggkruse commented on #42
It's possible that my fix for #72 will address this.  In some cases the underlying array buffer was not created large enough if a previous array buffer at the same address existed (and was smaller)

[2022-07-21 06:52] waitingsong commented on #71
here :  https://tootallnate.github.io/ref/

[2022-07-22 09:30] masinamichele opened #74 "How to read at specific memory address?"
Hello,
Returning from a C++ function, I have a `size_t size` representing the size of a certain list and a `int* head` pointing to the memory address of the first element of the same list.

I can access the `head` value without any problem using `.deref()` and see it's memory address with `.hexAddress()`, but my question is how to read the next elements.

If I could create a `ref` pointing to a sp

[2022-07-26 12:34] masinamichele commented on #74
Hello,
I solved this problem myself, also watching some old issues of the original `ref` package.

I have a struct:
[code]

I then call the ffi, which expects a pointer to the aforementioned struct:
[code]

The `size` and `head` properties are the ones mentioned in the original post of this issue.

To read the whole array starting at `head`, I can do the following:
[code]

Inside `values` I then h

[2022-07-26 12:35] #74 closed, assigned to nobody

[2022-08-04 02:22] freehere107 commented on #74
@masinamichele I have the same problem as you, but I am reading an array, something like this, but the data I read is wrong

[code]

can you help me look at this problem, thank you

[2022-08-13 01:51] FlysoftBeta opened #75 "Incompatible with Electron 20.x"
In Electron 20, Electron use [V8 sandboxed pointers](https://docs.google.com/document/d/1HSap8-J3HcrZvT7-5NsbYWcjfc0BVoops5TDHZNsnko/edit), see https://www.electronjs.org/blog/v8-memory-cage, and the app using the module will crash.

[2022-09-07 06:09] ggryschuk commented on #72
As others have observed when I tried to switch from ref (NaN) to ref-napi my code experienced significant performance degradation (functionally it worked fine). It took me a while to recognize this thread as the potential fix.

Long story short I'm not sure the fixes applied by both the change to using 'std::<min>' and the subsequent patch to account for the 'ERR_BUFFER_OUT_OF_BOUNDS' issue entire

[2022-09-07 19:55] ggryschuk commented on #72
Hi. I'll keep this update brief.

I recognized that my attempted fix regarding using 'std::max<size_t>(length,1)' within LookupOrCreateArray was wrong even though it worked. A more appropriate fix which I believe is correct/expected behavior within ReadPointer is to add the following check after the reinterpret_cast to retrieve the value of the Pointer:

if(val != nullPtr && size == 0)
  size = 1;

[2022-09-08 04:52] ggryschuk opened #76 "Suggested Update to complete performance improvement fix"
Hi. I've opened a new issue to submit the results of an update I've made to ref-napi to (hopefully) finalize the fix to performance started here [#72](https://github.com/node-ffi-napi/ref-napi/issues/72). See my comments there in regards to an update needed to ReadPointer to account for needing to return a 1-length pointer. Specifically the following code needs to be added the 'reinterpret_cast',

[2022-09-08 04:54] ggryschuk commented on #76
My apologies that should read "...to be added AFTER the 'reinterpret_cast'.

[2022-09-08 07:10] Deuscx opened #77 "Install Error when rebuild native dependencies"
when install ref-napi,  install script 'node-gyp-build' error
- node-gyp: 7.1.2

[code]

[2022-09-29 00:35] yellow1234 opened #78 "Fatal error on electron v21.0.0"
electron v21.0.0 is out 2 days ago with chromium 106.0.5249.51
Now the V8 memory cage for external buffers are enabled by default

while requiring the module there is a fatal error

Fatal error in V8: v8_ArrayBuffer_NewBackingStore When the V8 Sandbox is enabled, ArrayBuffer backing stores must be allocated inside the sandbox address space. Please use an appropriate ArrayBuffer::Allocator to alloc

[2022-09-29 08:48] yellow1234 commented on #78
Posted on ffi-napi issues
By mistake here

[2022-09-29 08:48] #78 closed, assigned to nobody

[2022-10-03 08:29] Elendiar commented on #75
Same problem, are there any suggestions to fix this in electron app? I use native calls for windows and with electron 21 get
` Fatal error in V8: v8_ArrayBuffer_NewBackingStore When the V8 Sandbox is enabled, ArrayBuffer backing stores must be allocated inside the sandbox address space. Please use an appropriate ArrayBuffer::Allocator to allocate these buffers.`

[2022-11-05 18:37] Kreijstal opened #79 "Implement function type?"
Something like
[code]
However this solution polutes the function, I guess